.variant {
  --color: #fff;
}

.variant .color::before {
  content: ' ';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: var(--color);
  vertical-align: middle;
  margin-right: 1rem;
}
